html, body, h2 {
    margin: 0 !important;
}

body {
    background-color: grey;
}

#canvas {
    background-color: black;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    width:100px;
    padding: 10px;
}

header {
    color: white;
    background-color: #001d4c;
    margin-bottom: 20px;
    margin-top: 0;
    width: 100%;
}
